<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>443469734236-3j38l1fptj220ihm2te5hc4sl83kdope.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443469734236-3j38l1fptj220ihm2te5hc4sl83kdope</string>
	<key>API_KEY</key>
	<string>AIzaSyA0sqMkU8B16YmNVcrlaaSYnGmCDdGVqhc</string>
	<key>GCM_SENDER_ID</key>
	<string>443469734236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codingdojo.firebase-auth</string>
	<key>PROJECT_ID</key>
	<string>authentication-practice-e5284</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-practice-e5284.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:443469734236:ios:55b5fe81a65e8159</string>
	<key>DATABASE_URL</key>
	<string>https://authentication-practice-e5284.firebaseio.com</string>
</dict>
</plist>